/* Colores */
:root {
  --color-fondo-body: #fff4f4;
  --color-fondo-navbar: #0d0d0e;
  --color-texto-navbar: #f9fafc;
  --color-texto-enlace-activo: #1976d2;
  --color-boton-toggler: #e0e9f3;
  --color-fondo-text-banner: #ecdede;
  --color-texto-text-banner: #111010;
  --color-fondo-precios: #727171;
  --color-texto-titulo-precios: #fff;
  --color-boton-verde: #86b773;
  --color-boton-naranja: #ddb146;
}

/* Ajustar la altura del menú */
body {
  background: var(--color-fondo-body);
  overflow-x: hidden;
  

  
}
.navbar-nav .nav-link:hover {
  background-color: blue; 
  color: white;
  width: auto;
}

/* Navbar */
.navbar-light {
  background-color: var(--color-fondo-navbar);
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-texto-navbar);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-texto-enlace-activo);
}

.navbar-light .navbar-toggler-icon {
  background-color: var(--color-boton-toggler);
}

/* Carousel */
.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 650px;
}

/* Título del banner */
.title-header {
  background: var(--color-fondo-text-banner);
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

/* Precios */
.precios {
  background: url("../../Limpieza/src/assets/precios-bg.jpg"),
    var(--color-fondo-precios);
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  padding: 70px 0;
  margin-top: 40px;
}

.precios .titulo {
  text-align: center;
  font-family: "Open Sans", Arial, Sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: var(--color-texto-titulo-precios);
  margin-bottom: 70px;
}

/* Planes de precios */
.precios .plan {
  background: #d87f7f;
  text-align: center;
  font-family: "Open Sans", Arial, Sans-serif;
  padding: 50px 0;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
.precio .blanco{
  background: #fff;
}
.precios .plan .nombre,
.precios .plan .precio {
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 30px;
}

.precios .plan .precio {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 30px;
}

.precios .plan .caracteristicas {
  list-style: none;
  padding: 0 20px;
  margin-bottom: 50px;
}

.precios .plan .caracteristicas li {
  font-size: 18px;
  padding: 15px 0;
  border-bottom: 1px solid #dedede;
}

.precios .plan .btn {
  width: 70%;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
}

.precios .plan .btn:hover {
  text-decoration: none;
}



.precios .plan.verde .btn {
  color: var(--color-boton-verde);
  border: 2px solid var(--color-boton-verde);
}

.precios .plan.verde .btn:hover {
  background: var(--color-boton-verde);
  color: #fff;
}

.precios .plan.active {
  background: #0a2138;
  color: #fff;
}

.precios .plan.active .btn {
  color: #fff;
  border: 2px solid #fff;
}

.precios .plan.active .btn:hover {
  background: #fff;
  color: #4c8dce;
}

.precios .plan.naranja .nombre,
.precios .plan.naranja .precio {
  color: var(--color-boton-naranja);
}

.precios .plan.naranja .btn {
  color: var(--color-boton-naranja);
  border: 2px solid var(--color-boton-naranja);
}

.precios .plan.naranja .btn:hover {
  background: var(--color-boton-naranja);
  color: #fff;
}

/* SobreNosotros.css */

.custom-banner {
  background-size: cover;
  background-position: center;
  padding: 50px;
  height: 330px;
}

.custom-banner h2 {
  color: #ffffff;
}

.custom-banner p {
  color: #ffffff;
}
/* index.css */
.parrafo_banner_sobreNosotros {
  background: #00003a;
  border-radius: 3px;
}
.texto-sobre-nosotros-1 {
  color: #ffffff;
}
.title-banner {
  color: #af0b0b;
}
.custom-text,
.custom-text2 {
  color: #ffffff; /* Color de texto más suave */
  padding: 20px;
  border-radius: 8px;
  background-color: #000000; /* Fondo de color pastel */
  margin-bottom: 20px; /* Espacio entre párrafos */
  line-height: 1.6; /* Espaciado entre líneas */
}
.custom-text2 {
  background-color: #af0909;
}
.parrafo_sobre_nosotros {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: #2b8996;
  color: #0f0e0e;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
}

.h2_sobre_nosotros {
  color: #000;
}
.custom-text:last-child {
  margin-bottom: 0; /* Elimina el espacio inferior para el último párrafo */
}

.custom-text p {
  color: #7d7d7d; /* Color de texto en tono pastel */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: 400; /* Grosor de la fuente */
  margin-bottom: 10px; /* Espacio entre párrafos */
}

.custom-text p:last-child {
  margin-bottom: 0; /* Elimina el espacio inferior para el último párrafo */
}
/* seccion sobre nosotros*/
.service-banner {
  background: #e5e9ee;
  font-size: 18px;
}

.custom-banner-servicios {
  background-size: cover;
  background-position: center;
  padding: 50px;
  height: 400px;
}

/* Textos */
.textos {
  color: rgb(255, 241, 241);
  text-align: center;
  font-weight: 600;
  margin: 200px 0;
}

.textos .primera_linea,
.textos .segunda_linea {
  font-family: "Open Sans", Arial, Sans-serif;
  font-weight: 300;
}

.textos .primera_linea {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 30px;
}

.textos .segunda_linea {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 60px;
}

.textos .contenedor-btns a {
  border-radius: 4px;
  border: 2px solid #fff;
  color: rgb(8, 8, 8);
  padding: 12px 0;
  font-weight: 600;
  width: 235px;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

.textos .contenedor-btns a:hover {
  text-decoration: none;
  background: #fff;
  color: #4f4f4f;
}
/* En el archivo Banner2_home.css */
.banner-container {
  margin-top: 5rem;
}

.banner-image {
  height: 100%;
  width: 100%;
}

.banner-text {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
.banner-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #7d84b2;
}

.banner-subtitle {
  font-size: 24px;
  margin-bottom: 10px;
  color: #b2616f;
}
.banner-subtitle2{
color: #1976d2;
}
.banner-text {
  font-size: 20px;
  line-height: 1.6;
  color: #565656;
  margin-bottom: 20px;
}
.banner-text-3 {
  color: #ffffff;
}

.banner-container {
  background: #000000;
  padding: 40px;
  text-align: center;
}
.banner-container2 {
  background: #eb4b4b;
  padding: 40px;
  text-align: center;
  margin-top: 15px;
  border-radius: 10px;
}
/* Sección de contacto */
.contacto {
  margin-top: 30px;
}
.enlace_de_WhatsApp {
  display: flex;
  justify-content: start;
}
.icono-whastpp {
  width: 90px;
  height: 90px;
}

.parrafo_Contact_us {
  background: #d5dbe2;
  color: #000000;
}

.img-contact {
  margin-top: 40px;
}

.h2_texto1-servicios{
  color: rgb(206, 44, 33);
}
.h2_texto2-servicios{
  color: rgb(247, 247, 247);
}
.Bienvenido{
  color: rgb(206, 44, 33);
}


/* Sección de clientes */
.clientes {
  background: #2d353e;
  padding: 40px 0;
  margin-top: 30px;
}

.clientes .titulo {
  text-align: center;
  font-family: "Open Sans", Arial, Sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #fff;
  margin-bottom: 40px;
}

.clientes .cliente {
  text-align: center;
}

.clientes .cliente a {
  display: block;
}

/* Imágenes */
.img5 {
  max-width: 100%;
  height: auto;
  width: 1000px;
  max-height: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

/* Estilos para las columnas de widgets */
.row {
  display: flex;
  justify-content: space-between;
}

.Columnas {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: #2bbed1;
  border-radius: 8px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconos {
  font-size: 2em;
  margin-bottom: 10px;
}

.num {
  font-size: 1.5em;
  font-weight: bold;
  color: #eef0f1;
}

p {
  font-size: 1em;
  color: #333;
}
.img-pequena {
  width: 170px;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.parrafo {
  margin-bottom: 25px;
  font-size: 18px;
}
.iconos_wigets {
  width: 70px;
  height: 70px;
}
.columnas_footer {
  background: #f7fdf4;
  border-radius: 20px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 30px;
}

.h5_banner_footer {
  font-size: 23px;
  margin-top: 20px;
}

.texto_inferior_footer {
  margin-top: 20px;
  font-size: 17px;
}

.imagen {
  overflow: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.5s ease-in-out all;
}

.visible {
  opacity: 1;
  transform: scale(1);
}


@media screen and (max-width: 768px) {
  .columnas_footer {
    background: #85e057;
    margin-bottom: 3px;
    margin: 0px 0px 3px 0px;
  }
}
